/composer.lock

/vendor

/bin
/app/config/parameters.yml
/app/bootstrap.php.cache
/var
/web/bundles
/web/js/fos_js_routes.js

/app/scripts/migrations/vendor
/app/scripts/migrations/phinx.yml


/Test/codeSniffer/vendor

