/composer.lock

/nbproject
/vendor
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/app/bootstrap.php.cache
/web/bundles
/web/js/fos_js_routes.js

/app/scripts/migrations/vendor
/app/scripts/migrations/phinx.yml
