/composer.lock

/vendor

/app/config/parameters.yml
/app/bootstrap.php.cache
/var
/web/bundles

/app/scripts/migrations/vendor
/app/scripts/migrations/phinx.yml


/Test/codeSniffer/vendor
/Test/Phpunit/codeCoverageLog
